* text=auto

*.md   text eol=lf
*.html text eol=lf
*.htm  text eol=lf
*.js   text eol=lf
*.css  text eol=lf
*.py   text eol=lf
*.ts   text eol=lf
*.json text eol=lf

*.sln  text eol=crlf

*.png  binary
*.jpg  binary
*.ico  binary
*.gif  binary