*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#lmap-cv{
	width: 100vw;
	height: 100vh;
	background: #333;
	image-rendering: pixelated;
	cursor:crosshair;
}

#log{
	white-space: pre;
	opacity: 0.3;
	color: #fff;
	background: #000;
	font-family: "consolas";
	width: 50vw;
	height: 50vh;
	overflow: scroll;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	font-size: 1.5vmin;
	line-height: 1.5vmin;
	z-index: 999;
}
